<div class="row">
	<div class="span4"> 

	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "well" }) do |f| %>

	<fieldset>
		<legend>Sign In</legend>
	  <%= f.input :email %>
	  <%= f.input :password %>
	  

	  <% if devise_mapping.rememberable? -%>
	    <div><%= f.input :remember_me, as: :boolean %> </div>
	  <% end -%>

	  <div><%= f.button :submit, "Sign in" %></div>
	  </fieldset>
	<% end %>

	<%= render "devise/shared/links" %>
	</div>
</div>