<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
  	<div class="container">
    <a class="brand" href="#">Treebook</a>
    <ul class="nav">
  <li class="active"><%= link_to "All Statuses", statuses_path %></li>
  
</ul>

 <ul class="nav pull-right">
    <% if user_signed_in? %>
        <li><%= link_to current_user.full_name, edit_user_registration_path %></li>
        <li><%= link_to "Log Out", logout_path %></li>

    <% else %>
     <li><%= link_to "Register", register_path %></li>
      <li><%= link_to "Log In", login_path %></li>
    <% end %>
  </ul>
    </div>
  </div>
</div>


	<div class="container">
    <% flash.each do |type, message| %>

      <div class="alert <%= flash_class type %> ">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= message %> 
      </div>
    <% end %>

		<%= yield %>
	</div>

</body>
</html>
